@{
    ViewData["Title"] = "Update PIN Success";
}


<div class="alert alert-success">
    <h3>Pin updated Successfully!</h3>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a asp-controller="Home" asp-action="MainPage" class="btn btn-primary">Back to Dashboard</a>
</div>