<P>
    Card No:@Model.CreditCard.CardNo
    <br />
    CardholderName:@Model.CreditCard.CardholderName
    <br />
    BankName:@Model.CreditCard.BankName
    <br />
    CVV:@Model.CreditCard.Cvv
    <br />
    Expiry Date:@Model.CreditCard.ExpiryDate
    <br />
    Card Pin:@Model.CreditCard.CardPin
    <br />
    Avilable Credit Limit:@Model.CreditCard.AvilableCreditLimit
    <hr />
</P>